/* Custom styles */

.container1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    text-decoration: none;
    color: black;
}

.nav ul {
    list-style: none;
    display: flex;
}

.nav ul li {
    margin-left: 20px;
}

.nav ul li a {
    text-decoration: none;
    color: black;
}